In [7]:
import os
import argparse
from time import time
import pandas as pd
from sqlalchemy import create_engine

In [13]:
user = 'root'
password = 'root'
host = 'localhost'
port = '5432'
db = 'ny_taxi'
table_name = 'zones'
url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv'

In [5]:
csv_name = 'output.csv'

In [9]:
os.system(f"wget {url} -O {csv_name}")

--2023-03-20 15:41:56--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 143.204.101.175, 143.204.101.58, 143.204.101.20, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|143.204.101.175|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: ‘output.csv’

     0K .......... ..                                         100%  106M=0s

2023-03-20 15:41:56 (106 MB/s) - ‘output.csv’ saved [12322/12322]

0

In [15]:
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')

In [10]:
df = pd.read_csv(csv_name)

In [11]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [18]:
df.to_sql(name=table_name, con=engine, if_exists='replace')

265