In [30]:
import pandas as pd

In [31]:
pd.__version__

'1.4.4'

```bash
pip install sqlalchemy psycopg2-binary 
```

In [32]:
from sqlalchemy import create_engine
import sqlalchemy

In [33]:
sqlalchemy.__version__

'1.4.41'

In [34]:
URL="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

In [35]:
# donwload the file from the URL
df = pd.read_csv(URL, compression='gzip', nrows=10)

In [36]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [37]:
engine.connect()

In [38]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [42]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_trips,root,None,False,False,False,False

In [40]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [41]:
df.to_sql(name='yellow_taxi_trips', con=engine, index=False, if_exists='replace')

10

In [45]:
query = """
SELECT count(*) FROM yellow_taxi_trips
"""

pd.read_sql(query, con=engine)

   count
0     10

```sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/